
<div class="container">
    <h1>Add New Product</h1>
   <div class="container">
  <% if (error) { %>
    <% error.forEach(function(err) { %>
      <p class="alert alert-danger"><%= err %></p>
    <% }); %>
  <% } %>
</div>

    <form action="/addProduct/Add" method="post" enctype="multipart/form-data">
        <div class="mb-3">
        <input type="hidden" class="form-control" id="id" name='id' value="<%= id %>">
        </div>
        <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Product Name">
        </div>
        <div class="mb-3">
        <label for="img" class="form-label">Image</label>
        <input type="file" class="form-control" id="img" name="img" placeholder="Image url..">
        </div>
        <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="Price">
        </div>
        <div class="mb-3">
            <button class="btn btn-dark" type="submit">Add New</button>
        </div>
    </form>
</div>