<div class="container">
    <form action="/addProduct/submit" method="post">
        <div class="mb-3">
        <label for="id" class="form-label">Id</label>
        <input type="text" class="form-control" id="id">
        </div>
        <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Product Name">
        </div>
        <div class="mb-3">
        <label for="img" class="form-label">Image</label>
        <input type="text" class="form-control" id="img" placeholder="Image url..">
        </div>
        <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" id="price" placeholder="Price">
        </div>
        <div class="mb-3">
            <button class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>