<div class="container">
    <h1>Update Product</h1>
    <form action="/updateProduct" method="post">
        <div class="mb-3">
        
        <input type="hidden" class="form-control" id="id" name='id' value="<%= product.id %>">
        </div>
        <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" value="<%= product.name %>" name="name" placeholder="Product Name">
        </div>
        <div class="mb-3">
        <label for="img" class="form-label">Image</label>
        <input type="text" class="form-control" id="img" value="<%= product.img %>" name="img" placeholder="Image url..">
        </div>
        <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" id="price"  value="<%= product.price %>" name="price" placeholder="Price">
        </div>
        <div class="mb-3">
            <button class="btn btn-dark" type="submit">Update </button>
        </div>
    </form>
</div>