<div class=" bg-dark py-4 px-4 position-relative bottom-0">
   <div class="row text-light" >
        <div class="col col-lg-4">
            <h3 class="pt-3">Fashion Fiesta</h3>
            <ul class="list-unstyled">
                <li>Kanpur Nagar,UP, India</li>
                <li>Phone:+91 7570065060</li>
                <li class="mb-0">Email : shabanirshad408@gmail.com</li>
            </ul>
        </div>
        <div class="col border-start border-light py-2">
            <h4 class="pt-3">Categories</h4>
             <ul class="list-unstyled">
                <li>Men</li>
                <li>Women</li>
                <li>Kids</li>
            </ul>
        </div>
        <div class="col border-start border-light py-2">
            <h4 class="pt-3">Menu</h4>
            <ul class="list-unstyled">
                <li><a href="/product" class="text-light">Products</a></li>
                <li><a href="/addNewProduct" class="text-light">Add Products</a></li>
                <li><a href="/" class="text-light">Home</a></li>
            </ul>
        </div>
       
        <div class="col col-lg-3 text-lg-end border-start border-light">
            <h4 class="pt-3">Social media icons</h4>
            <div>
                <a href="https://mail.google.com/mail/shabanirshad408" class="text-light"><i class="bi bi-envelope fs-2 me-3"></i></a>
                <a href="https://github.com/ShabanIrshad" class="text-light"><i class="bi bi-github fs-2 me-3"></i></a>
                <a href="https://www.linkedin.com/in/mohd-shaban-ab2417146/" class="text-light"><i class="bi bi-linkedin fs-2"></i></a>
            </div>
            
        </div>
   </div>
   <hr class="text-light">
   <div class="text-light d-flex justify-content-between">
    <p>2025 © ShabanIrshad Copyright, All Right Reserved.</p>
    <div>
         <a href="#" class="text-decoration-none text-light me-2">Terms of use</a>
         <a href="#" class="text-decoration-none text-light">Privacy Policy</a>
    </div>   
   </div>
</div>