<div class="container">
    <!-- <centar><h1>Best place to buy products</h1></centar> -->
     <img class="img img-fluid" src="https://cdn.prestahero.com/img/ybc_blog/post/home-product_main.png" alt="any"/>
</div>