<div class="container">
    <!-- <centar><h1>Best place to buy products</h1></centar> -->
     <img class="img img-fluid" src="https://www.vue.ai/blog/wp-content/uploads/2018/11/Fashion-styling.jpg" alt="any"/>
</div>